<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/articles" routerLinkActive="active">
        <a class="nav-link" href="/">Articles<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLink="/publications" routerLinkActive="active">
        <a class="nav-link" href="/publications">Publications<span class="sr-only"></span></a>
      </li>
      <li class="nav-item" routerLink="/about" routerLinkActive="active">
        <a class="nav-link" href="/about">About me</a>
      </li>
    </ul>
    <a class="my-2 my-lg-0 mx-2 mx-lg-1" href="https://github.com/synsyh" title="github">
      <img src="assets/github-icon.svg" alt="github">
    </a>
    <a class="my-2 my-lg-0" href="https://www.linkedin.com/in/yuning-sun-0504a6197/" title="linkedin">
      <img src="assets/linkedin-icon.svg" alt="linkedin">
    </a>
  </div>
</nav>
